/*
	Theme Name: REBAN 2024 05
	Theme URI: http://www.okchicas.com
	Description: Template a base de Genesis Framework para Reban
	Author: Reban
	Author URI: http://www.reban.com/
	Version: 25.12.22
	Tags: reban
	Template: genesis
	Template Version: 24.05
	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/
